name: Despliegue usando SSH

# permissions:
  # contents: read
  # packages: write

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: set lower case owner name
        run: echo "OWNER_LC=${OWNER,,}" >>${GITHUB_ENV}
        env:
          OWNER: '${{ github.repository_owner }}'
          
      - name: Check Out Repository
        uses: actions/checkout@v6

      - name: Login ghcr.io
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ OWNER_LC }} --password-stdin

      - name: Build Docker Image
        run: docker build -t ghcr.io/${{ OWNER_LC }}:latest .

      - name: Push Docker Image
        run: docker push ghcr.io/${{ OWNER_LC }}:latest
            
