name: Despliegue usando SSH

# permissions:
  # contents: read
  # packages: write

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Check Out Repository
        uses: actions/checkout@v6

      - name: Test
        run: ls -la
            
