name: Despliegue usando SSH

# permissions:
  # contents: read
  # packages: write

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Check Out Repository
        uses: actions/checkout@v6

      - name: Login ghcr.io
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build Docker Image
        run: docker build -t ghcr.io/${{ github.repository }}:latest .

      - name: Push Docker Image
        run: docker push ghcr.io/${{ github.repository }}:latest
            
